@model IEnumerable<HampesFrilansare.ViewModels.FreelancerSearchModel>

@{
    ViewBag.Title = "SearchFreelancer";
}

<h2>SearchFreelancer</h2>
@using (Html.BeginForm("SearchFreelancer", "Search", FormMethod.Get))
{
@Html.TextBox("searchstr", null, null, new { @class = "form-control mr-sm-2" })
<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
}
<form class="form-inline my-2 my-lg-0">

    <table class="table">
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kategori
            </th>
            <th>
                Kompetens
            </th>
            <th>
                Teknologi
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.compcategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.compname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.skillname)
                    </td>
                </tr>
            }
        }


    </table>
</form>

