@model HampesFrilansare.Models.Resume

@{
    ViewBag.Title = "Lägg till CV";
}

<h4>Lägg till</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CV</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.profile, htmlAttributes: new { @class = "control-label" }, labelText: "Profil")<br />
                @Html.TextAreaFor(model => model.profile, 5, 40, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.profile, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coreability, htmlAttributes: new { @class = "control-label" }, labelText: "Kärnförmågor")<br />
                @Html.TextAreaFor(model => model.coreability, 5, 40, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coreability, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.licenceID, "Körkort", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("licenceID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.licenceID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka till lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
