@model HampesFrilansare.Models.Resume

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort detta CV?</h3>
<div>
    <h4>CV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coreability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coreability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driverslicence.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driverslicence.type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till lista", "Index")
        </div>
    }
</div>
