@model HampesFrilansare.Models.Resume

@{
    ViewBag.Title = "Ändra";
}

<h2>Ändra</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CV</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.resumeID)

    <div class="form-group">
        @Html.LabelFor(model => model.profile, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Profil")
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.profile, 5, 40, new { htmlAttributes = new { @class = "form-control edittext" } })
            @Html.ValidationMessageFor(model => model.profile, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spara" class="btn btn-secondary" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.coreability, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Kärnförmågor")
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.coreability, 5, 40, new { htmlAttributes = new { @class = "form-control edittext" } })
            @Html.ValidationMessageFor(model => model.coreability, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spara" class="btn btn-secondary" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.licenceID, "Körkort", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("licenceID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.licenceID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spara" class="btn btn-secondary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Tillbaka till lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
