@model HampesFrilansare.Models.Resume

@{
    ViewBag.Title = "Ändra";
    Layout = "~/Views/Shared/_NavbarFreelancer.cshtml";
}

<h4 class="specialformhead4">Ändra</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.resumeID)
    @Html.HiddenFor(model => model.licenceID)
    <div class="form-group">
        @Html.LabelFor(model => model.profile, htmlAttributes: new { @class = "control-label" }, labelText: "Profil")<br />
            @Html.TextAreaFor(model => model.profile,5, 60, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.profile, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
            <input type="submit" value="Spara" class="btn btn-secondary" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.coreability, htmlAttributes: new { @class = "control-label" }, labelText: "Kärnförmågor")<br />
            @Html.TextAreaFor(model => model.coreability, 5, 60, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.coreability, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
            <input type="submit" value="Spara" class="btn btn-secondary" />
    </div>

</div>
}

<div id="returnlink">
    @Html.ActionLink("Tillbaka till min profil", "FreelancerProfile", "Freelancers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
