@model HampesFrilansare.Models.Education

@{
    ViewBag.Title = "Utbildning";
    Layout = "~/Views/Shared/_NavbarFreelancer.cshtml";
}

<h4>Utbildning</h4>


@using (Html.BeginForm("CreateEducation","Resumes"))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.resumeID)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.school, htmlAttributes: new { @class = "control-label" }, labelText: "Namn på skola")
            @Html.EditorFor(model => model.school, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.school, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.startdate, htmlAttributes: new { @class = "control-label" }, labelText: "Startdatum")
            @Html.EditorFor(model => model.startdate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.startdate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.enddate, htmlAttributes: new { @class = "control-label" }, labelText: "Slutdatum")
            @Html.EditorFor(model => model.enddate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.enddate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label" }, labelText: "Ämne")
            @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.degree, htmlAttributes: new { @class = "control-label" }, labelText: "Examen")
            @Html.EditorFor(model => model.degree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.degree, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
            <input type="submit" value="Spara" class="btn btn-secondary" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Tillbaka till min profil", "FreelancerProfile", "Freelancers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
