@model HampesFrilansare.ViewModels.FreelancerProfileViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Lägg till</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Frilansare</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.firstname, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Förnamn")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.firstname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.lastname, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Efternamn")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.lastname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.phonenumber, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Telefon")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.phonenumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.email, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Email")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.address, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Adress")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.dateofbirth, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Födelsedatum")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.dateofbirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.dateofbirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.birthplace, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Födelseort")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.birthplace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.birthplace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.freelancer.nationality, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Nationalitet")
            <div class="col-md-10">
                @Html.EditorFor(model => model.freelancer.nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.freelancer.nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka till lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
