@model HampesFrilansare.ViewModels.FreelancerProfileViewModel
@{
    ViewBag.Title = "Profil";
}


<h2>@Html.DisplayFor(model => model.freelancer.firstname) @Html.DisplayFor(model => model.freelancer.lastname)</h2>
<section class="freelancerdetails">

    <div>
        <img class="profileimg" src="~/Content/Img/frilansare.jpg" />
    </div>
    <p>
        @Html.DisplayFor(model => model.freelancer.address)<br />
        @Html.DisplayFor(model => model.freelancer.nationality)<br />
        @Html.DisplayFor(model => model.freelancer.phonenumber)<br />
        @Html.DisplayFor(model => model.freelancer.email)
    </p>
    <div class="editprofilelinks"><a href="#">Redigera personuppgifter</a></div>
    <div class="editprofilelinks"><a href="#">Redigera ditt CV</a></div>
    <div class="editprofilelinks"><a href="http://localhost:6162/Error/Error">Avregistrera konto</a></div>
    
    <p id="linkgitmessage">Länka till din professionella profil</p>
    <ul class="logolist">
        <li><a href="http://localhost:6162/Error/Error" class="fab fa-github-square"></a></li>
        <li><a href="http://localhost:6162/Error/Error" class="fab fa-linkedin"></a></li>
    </ul>
</section>

<section class="freelancerintro">
    <h6>Interaction Design (IxD) Developer i Stockholm, Sverige</h6>

    <p>
        @Model.resume.profile
    </p>

    <h3>Arbetslivserfarenhet</h3>
    <p>
        @foreach (var e in Model.experiences)
        {
            <t>Roll: </t>@e.role
            <br />
            @e.startdate.Value.ToString("yyyy-MM-dd")<t> - </t>  @e.enddate.Value.ToString("yyyy-MM-dd") <br />
            <t>Företag: </t>@e.name <br />
            <t>Arbetsuppgifter: </t>@e.duty<br /><br/>

        }

    </p>

    <h3>Kärnförmågor</h3>


    <p>@Model.resume.coreability</p>

    <h3>Kompetens</h3>
    <ul class="profilelists" id="starlist">
        @foreach (var item in Model.competences)
        {

        <li>
            @item.name<br />
            @foreach (var skill in Model.skills)
            {
                if (skill.competenceID == item.competenceID)
                {
                    @skill.name
                    for (int i = 0; i < skill.rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }<br />


                }
            }
        </li>

        }
    </ul>


        <h3>Språk</h3>
        <ul class="profilelists">
            <li>C#</li>
            <li>Objective-C</li>
            <li>Clojure</li>
            <li>Java</li>
            <li>Python</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Engelska</li>
            <li>Svenska</li>
        </ul>

        <h3>Utbildning</h3>
        <p>
            @foreach (var e in Model.educations)
            {
                <t>Examen:</t> @e.degree
                <br />
                <t>Ämne:</t> @e.subject
                <br />
                @e.startdate.Value.ToString("yyyy-MM-dd")<t> - </t> @e.enddate.Value.ToString("yyyy-MM-dd") <br />
                @e.school <br /><br/>


            }
            Filosofie kandidatexamen med huvudområdet informatik<br />
            2006 - 2009<br />
            Mittuniversitetet - Östersund
            </>

            <h3>Tillgänglighet</h3>
<p>Deltid</p>

        <h3>Körkort</h3>
        <p>@Model.licence.type</p>
    </section>
