@model IEnumerable<HampesFrilansare.Models.Freelancer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NavbarFreelancer.cshtml";
}

<h2>Frilansare</h2>

<p>
    @Html.ActionLink("Skapa ny användare", "Create")
</p>
<table class="table-dark table">
    <tr>
        <th>
            Förnamn
        </th>
        <th>
           Efternamn
        </th>
        <th>
            Telefon
        </th>
        <th>
           E-postadress
        </th>
        <th>
           Adress
        </th>
        <th>
            Födelsedatum
        </th>
        <th>
            Födelseort
        </th>
        <th>
            Nationalitet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.freelancerID }) |
            @Html.ActionLink("Kontaktuppgifter", "Details", new { id=item.freelancerID }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.freelancerID })
        </td>
    </tr>
}

</table>
