<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <link href="~/Style/blueberry.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>


    

   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <section>
                <h6>Kontaktuppgifter</h6>
                <p>
                    Tel: 08-550 025 70<br />
                    Företag: <a href="mailto:Marketing@example.com">Supportcustomer@example.com</a><br />
                    Frilansare: <a href="mailto:Support@example.com">Supportfreelancer@example.com</a><br />
                </p>
            </section>
            <aside>
                <p><a href="#">Regler och villkor</a></p>
                <p><a href="#">Om oss</a></p>
                <ul class="ulfooter">
                    <li><i class="fab fa-facebook-square"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                    <li><i class="fab fa-twitter-square"></i></li>
                </ul>
            </aside>

            <section>
            <p>
                Genom att tillgå, fortsätta använda eller navigera genom webbplatsen accepterar du att vi använder särskilda browser cookies
                för att förbättra din användarupplevelse hos oss. Var vänlig och läs vår <a href="#">Cookiespolicy</a> för ytterligare information angående hur vi använder cookies samt hur du kan stänga av eller hantera dessa
                om du så önskar.
            </p>

            <p>&copy; @DateTime.Now.Year - Hampes frilansare, med ensamrätt</p>
                </section>
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/622bc9da0f.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
