<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hampes Frilansare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Style/slider.css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />

    
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Hampes Frilansare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Hem", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Om oss", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Kontakta oss", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li><a href="#">Konto</a>
                        <ul>
                            <li class="nav-item">@Html.ActionLink("Logga in", "LogIn", "Home")</li>
                            <li class="nav-item">@Html.ActionLink("Registrera ditt CV", "SignupFreelance", "Freelancers")</li>
                            <li class="nav-item">@Html.ActionLink("Hyr frilansare", "SignupCustomer", "Customers")</li>

                        </ul>
                    </li>
                </ul>
                    
            </div>
        </div>
    </nav>

    <div class="margin">


    </div>



        @RenderBody()
        <footer class="newfoot">

            <section>
                <p>@Html.ActionLink("Företag", "Index", "Customers")</p>
                <p>@Html.ActionLink("Frilansare", "Index", "Freelancers")</p>
                    <div id="newfootfb">
                    <i class="fab fa-facebook"></i>
                        </div>
                    <div id="newfootli">
                    <i class="fab fa-linkedin"></i>
                        </div>
                     <div id="newfoottwi">
                    <i class="fab fa-twitter-square"></i>
                         </div>
            </section>

            <section>
                <p>@Html.ActionLink("Om oss", "About", "Home")</p>
                <p>@Html.ActionLink("Integritetspolicy", "Error", "Error")</p>
                <p>@Html.ActionLink("Regler och villkor", "Error", "Error")</p>
            </section>

            <section>
                <h6>Kontaktuppgifter</h6>
                <p>
                    Tel: 08-550 025 70<br />
                    <br />
                    Support för företag:<br />
                    <a href="mailto:Marketing@example.com">Supportcustomer@example.com</a><br />
                    Support för frilansare:<br />
                    <a href="mailto:Support@example.com">Supportfreelancer@example.com</a>
                </p>
            </section>

            <p>
                Genom att använda webbplatsen accepterar du att vi använder cookies
                för att förbättra din användarupplevelse hos oss. Var vänlig och läs vår <a>@Html.ActionLink("Cookiespolicy", "Error", "Error", null, new { @class = "Nav-link" })</a>
            för ytterligare information angående hur vi använder cookies samt hur du kan stänga av eller hantera dessa
            om du så önskar.
            </p>

            <p>&copy; @DateTime.Now.Year - Hampes frilansare, med ensamrätt</p>

        </footer>

    <script src="https://kit.fontawesome.com/622bc9da0f.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
