@model HampesFrilansare.Models.Customer

@{
    ViewBag.Title = "Kontaktuppgifter";
}

<h2>Kontaktuppgifter</h2>

<div>
    <h4>Företag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Företagsnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessname)
        </dd>

        <dt>
            Förnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            Efternamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Adress
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.customerID }) |
    @Html.ActionLink("Tillbaka till lista", "Index")
</p>
