@model HampesFrilansare.ViewModels.FreelancerSearchModelA

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NavbarCustomer.cshtml";
}

<h2>Företag</h2>

<body>

    <div class="header">

        <h2>Hitta frilansare</h2>
        <div class="form-box">
            <input type="text" class="search-field-customers"
                   placeholder="Sök efter kompetens, namn osv..." id="searchstr" />
        </div>
        @using (Html.BeginForm())
        {
            @Html.DropDownListFor(m => m.category, ViewBag.CompList as SelectList, "Välj kategori", htmlAttributes: new { @class = "form-control"})
            @Html.DropDownListFor(m => m.compID, new SelectList(" "), "Välj Kompetens", new { @class = "form-control" })
            @Html.DropDownListFor(m => m.searchskill, new SelectList(" "), "Välj teknologi", new { @class = "form-control" })
        }
    </div>
</body>

<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kategori
            </th>
            <th>
                Kompetenser
            </th>
            <th>
                Teknologier
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="searchresult">
        @foreach (var item in Model.freelancers)
        {
            <tr>
                <td>
                    @item.fullname
                </td>
                <td id="compcol">
                    @item.compcategory
                </td>
                <td>
                    @item.compname
                </td>
                <td>
                    @item.skillname
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchstr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".searchresult tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#category").change(function () {
            $.get("/Customers/GetComps", { category: $("#category").val() }, function (data) {
                $("#compID").empty();
                $.each(data, function (index, row) {
                    $("#compID").append("<option value='" + row.competenceID + "'>" + row.name + "</option>")
                });
            });
        });
    });
</script>
<